@model RentalCars.ViewModels.CarFormViewModel

@{
    ViewBag.Title = "Details";
}

<div class="car-detail">
    <div class="title-details">
        @Html.DisplayFor(model => model.Car.Name)
    </div>
    <div class="photo">
        @Html.DisplayFor(model => model.Car.Photo)
    </div>
    <div id="price-detail">
       Price: <strong>@Html.DisplayFor(model => model.Car.Price)</strong>  lei / day
        <br />
        <br />
        @Html.ActionLink("Rent", "Rent", "Users", new { id = @Model.Car.Id }, new { @class = "btn btn-primary" })

    </div>
    <div class="specification">
        <h4>Specification</h4>
        <ul>
            <li><strong>Fabrication Year:</strong> @Html.DisplayFor(model => model.Car.FabricationYear)</li>
            <li><strong>Motorization: </strong> @Html.DisplayFor(model => model.Car.Motorization)</li>
            <li><strong>Options: </strong> @Html.DisplayFor(model => model.Car.Option)</li>
            <li><strong>Category: </strong>@Html.DisplayFor(model => model.Car.Category.Class)</li>
            <li><strong>Transmission: </strong> @Html.DisplayFor(model => model.Car.Transmission.Type)</li>
        </ul>
    </div>
</div>
