@model IEnumerable<RentalCars.Models.Car>
@{
    ViewBag.Title = "Index";
}

@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin. Now you can create user Role.</h1>
    <h3>
        <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
    </h3>
}
else
{

<div class="car-page">
    @foreach(var car in Model)
    {
        <div class="row">
            <div id="title">

                <a href="@Url.Action("Details", "Users", new { id = @car.Id})"> @car.Name</a>
               
            </div>
            <div id="photo">
               <img src="@car.Photo"/> @car.Photo
            </div>
            <div id="price">
                Price : @car.Price per day
            </div>
            <div>
                <button class="btn btn-primary btn-block">Rent</button>
            </div>
        </div>
    }
</div>

}