@model RentalCars.Models.Transmission
@{
                /**/

                ViewBag.Title = "New";
}

<h2>New</h2>
@using (Html.BeginForm("New", "Transmission", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Type)
        @Html.TextBoxFor(model => model.Type, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
    </div>
    <br />
    <button type="submit" class="btn btn-success">Add transmission</button>
}
