@model RentalCars.ViewModels.CarFormViewModel
@{
    /**/

    ViewBag.Title = "New";
}

<h2>New Car</h2>

@using (Html.BeginForm("New", "Admin", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Car.Id)
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Car.Name)
        @Html.TextBoxFor(model => model.Car.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Car.Name, null, new { @class = "help-inline"})
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Car.FabricationYear)
        @Html.TextBoxFor(model => model.Car.FabricationYear, new { @class = "form-control" })
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Car.Motorization)
        @Html.TextBoxFor(model => model.Car.Motorization, new { @class = "form-control" })
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Car.Option)
        @Html.TextBoxFor(model => model.Car.Option, new { @class = "form-control" })
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Car.Photo)
        @Html.TextBoxFor(model => model.Car.Photo, new { @class = "form-control" })
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Car.CategoryId)
        @Html.DropDownListFor(model => model.Car.CategoryId, new SelectList(Model.Categories, "Id", "Class"), "Name", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Car.CategoryId)
    </div>
    <div class="display-field">
        @Html.DisplayNameFor(model => model.Car.TransmissionId)
        @Html.DropDownListFor(model => model.Car.TransmissionId, new SelectList(Model.Transmissions, "Id", "Type"), "Name", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Car.TransmissionId)
    </div>
    
    <br />
    <button type="submit" class="btn btn-success">Add car</button>
}