<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>*@
    @*<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>*@

    @*<script ref="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>*@

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("List of Cars", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Manage Roles", "Index", "Role")</li>
                        <li>@Html.ActionLink("Manage Categories", "Index", "Category")</li>
                        <li>@Html.ActionLink("Manage Transmissions", "Index", "Transmission")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript">

    $(function () {
        var $j = jQuery.noConflict();
        $('.start-date').datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            
        });

        $('.end-date').datepicker({

            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            onSelect: function () {
                myfunc();
            }
        });
    });       



    function myfunc() {
        var start = $('.start-date').datepicker("getDate");
        var end = $('.end-date').datepicker("getDate");
        var price = $('.price').val();
        var diff = new Date(end - start).getDay();
        var totalPrice = diff * price;
       return  $('.total-price').val(totalPrice);
        alert(Math.round(totalPrice));
    }

    //$('.start-date').datepicker({
    //    dateFormat: 'yy-mm-dd',
    //    changeMonth: true,
    //    changeYear: true,
    //});
    //$('.end-date').datepicker({
    //    dateFormat: 'yy-mm-dd',
    //    changeMonth: true,
    //    changeYear: true,
    //});
    //$('.start-date').datepicker().bind("change", function () {
    //    var minValue = $(this).val();
    //    minValue = $.datepicker.parseDate("yy-mm-dd", minValue);
    //    $('.end-date').datepicker("option", "minDate", minValue);
    //    calculate();
    //});
    //$('.end-date').datepicker().bind("change", function () {
    //    var maxValue = $(this).val();
    //    maxValue = $.datepicker.parseDate("yy-mm-dd", maxValue);
    //    $('.start-date').datepicker("option", "maxDate", maxValue);
    //    calculate();
    //});

    //function calculate() {
    //    var d1 = $('.start-date').datepicker('getDate');
    //    var d2 = $('.end-date').datepicker('getDate');
    //    var price = $('.price').val();
    //    var oneDay = 24 * 60 * 60 * 1000;
    //    var diff = 0;
    //    if (d1 && d2) {

    //        diff = Math.round(Math.abs((d2.getTime() - d1.getTime()) / (oneDay)));
    //    }
    //    var priceTotal = price * diff;
    //    $('.price').val(priceTotal);
    //    alert(priceTotal);
       
    //}
</script>